body {
  font-family: 'Barrio', cursive;
  background: #aac4ed;
}

.island {
  height: 165px;
  width: 165px;
  border-radius: 40%;
  position: absolute;
  top: 180px;
  left: 420px;
}

.gameRules {
  position:absolute;
  border: 1px solid white;
  height: 150px;
  width: 380px;
  left: 210px;
  top: 10px;
  background: #2073f7;
  color: white;
  text-shadow: 2px 2px 2px black;
  border-radius: 10%;
  font-size: 15px;
}

.gameRules .gameRulesText{
  padding: 5px 0px 0px 5px
}

.container {
  width:580px;
  height:500px;
  border: 2px solid indigo;
  font-size: 24px;
}

.initialContainer{
  color:white;
  font-size: 88px;
  text-shadow: black 1px 1px 1px,
               #b5d2ff -1px 2px 1px,
               black 2px 2px 2px,
               #b5d2ff 1px -2px 1px;


  display: block;
  position: absolute;
}

.container:hover {
  border:5px solid coral;
  content: "You've entered the game zone! "
}

.boatDiv1 {
  width:45px;
  height: 50px;
  margin-left: 10px;
  border-bottom: 2px solid blue;
  position:absolute;
}
.boatDiv2 {
  width:45px;
  height: 50px;
  margin-left: 10px;
  border-bottom: 2px solid darkred;
  position:absolute;
  top: 280px;
}

.container input{
  width:30px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  position: relative;
  top:200px;
  right:40px;
  font-family: 'Barrio',cursive;
  font-size: 24px;
}

h1 {
  font-size: 38px;
  margin: 0px;
  text-shadow: 1px 1px 1px black,
               2px 2px 2px blue,
              1px 1px 1px cyan,
              3px 3px 3px black;

}

.questionButton {
  position:absolute;
  top:420px;
  left:30px;
  font-size: 26px;
  font-family: 'Barrio',cursive;
}

.pirateGif {
  position: absolute;
}

.playerTurn {
  border: 2px solid blue;
  border-radius: 20%;
  width: 250px;
  height: 40px;
  position: absolute;
  top: 470px;
  left: 170px;
  color:blue;
  font-size: 30px
}
.playerTurn div{
  padding:5px 0px 0px 5px;
}

.questions{
  width:500px;
  height:80px;
  /*border: 1px solid black;*/
  position: absolute;
  top: 520px;
  left:50px;
  padding: 3px;
  color:#0094ff;
  text-shadow: 1px 1px 1px black,
               -1px 2px 1px black,
               2px 2px 2px grey;

}

.category{
  width: 260px;
  height:40px;
  border: 1px solid black;
  background: #0265f7;
  text-shadow: 3px 3px 3px white,
              2px 2px 2px blue,
              1px 1px 1px white;
  border-radius: 40%;
  position: absolute;
  top: 610px;
  left:150px;
  padding: 3px;
  font-size: 32px;
}

.category span{
  font-size: 22px;
}
